
* {
    border: none;
    border-radius: 10;
    font-family: JetBrains Mono;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
	background: rgba(96, 116, 156, 0.5);
	color:  #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 1 5px;
    background: transparent;
    color: #ffffff;
}

#workspaces button.focused {
	background: linear-gradient(45deg, #cbe3f2, #8ac5ed);
    color: #000000;
    margin: 2px 2px;
}

#mode {
    color:  #f7768e;
}

#clock.1, #battery, #cpu, #memory, #backlight, #network, #pulseaudio, #custom-mpd, #tray, #mode, #idle_inhibitor {
    padding: 1 10px;
    margin: 1 0px;
}

#clock.1 {
    background-color: transparent;
    font-size: 14px;
}
#calendar {
	background-color: transparent;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#cpu {
    background:  	transparent;
}

#memory {
    background:  	transparent;
}

#network.disconnected {
    background: transparent;
}

#language {
	background:  transparent;
	color: #ffffff;
	margin: 0px 5px;
}

#pulseaudio {
    background:  transparent;
}

#pulseaudio.muted {
    background:  linear-gradient(45deg, #ffa9a3, #f75f54);
    color: #000000;
}

#custom-mpd {
    background: transparent;
}

#tray {
    background: transparent;
}

#idle_inhibitor {
    background-color: #000000;
}

#mpris {
	color: #000000;
	border-radius: 10;
	margin-left: 5;
	padding: 0 5px;	
	background: linear-gradient(90deg, #8ac5ed, #cbe3f2, #8ac5ed, #cbe3f2);
	background-size: 400% 400%;
	animation: gradient_anim 10s ease infinite;
}

@keyframes gradient_anim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
