*{
    font-family: JetBrainsMono;
}

window {
    margin: 5px;
    border: 0px solid white;
    background-color: rgba(255, 255, 255, 1.0);
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 0px solid black;
    background-color: #000000;
    color: white;
}

#inner-box {
    margin: 5px;
    background-color: #000000;
}

#outer-box {
    margin: 5px;
    padding:20px;
    background-color: #000000;
}

#scroll {
    
}

#text {
    margin: 5px;
    color: white;
    /* border: 2px solid cyan; */
    /* background-color: cyan; */
}

/* #entry:nth-child(even){
    background-color: #404552;
} */

#entry:selected {
    background-color: #151718;
}

#text:selected {
    text-decoration-color: white;
}




